:root.theme-dark {
  --accent-color: #ff0070;
  --bg-color: #00183f;
  --main-text-color: #f1b2ce;
  --title-color: #db00ff;
  --hover-border: #ff007066;
  --section-title: #000028;
}

.page.theme_dark {
  --accent-color: #ff0070;
  --bg-color: #00183f;
  --main-text-color: #f1b2ce;
  --title-color: #db00ff;
  --hover-border: #ff007066;
  --section-title: #000028;
  header {
    background-image: url(../images/cover-image.png);
  }
  .header__inscription {
    visibility: visible;
  }
  .section_title {
    color: var(--accent-color);
  }
}
