.page.theme_dark {
  --accent-color: #ff0070;
  --bg-color: #00183f;
  --main-text-color: #f1b2ce;
  --title-color: #db00ff;
  --hover-border: #ff007066;
  --additional-color: #000028;
  background-image: url(../images/cover-image-dark.png);
  background-color: #000028;

  .header__inscription {
    visibility: visible;
  }
}