:root.theme_light {
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --main-text-color: #353430;
  --title-color: #ffc2e6;
  --hover-border: #32312d66;
  --additional-color: #353430;
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  .header__inscription {
    visibility: hidden;
  }

  .header__theme-menu-button {
    color: var(--additional-color);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--additional-color);
  }

  .decorated-zone::before {
    color: var(--additional-color);
  }

  .decorated-zone::after {
    color: var(--additional-color);
  }

  .section_title {
    color: var(--additional-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --main-text-color: #353430;
    --title-color: #ffc2e6;
    --hover-border: #32312d66;
    --additional-color: #353430;
  }

  .page.theme_auto {
    background-image: url(../images/cover-image-light.png);
    .header__inscription {
      visibility: hidden;
    }

    .header__theme-menu-button {
      color: var(--additional-color);
    }

    .header__theme-menu-button_active {
      border: 1px solid var(--additional-color);
    }

    .decorated-zone::before {
      color: var(--additional-color);
    }

    .decorated-zone::after {
      color: var(--additional-color);
    }

    .section_title {
      color: var(--additional-color);
    }
  }
}
