.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);

  font-family: "IBM Plex mono", Arial, Helvetica, sans-serif;
  font-size: 18px;

  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.theme-dark .page {
  background-image: url(../images/cover-image-dark.png);
}

.theme-light .page {
  background-image: url(../images/cover-image-light.png);
}

.header {
  padding: var(--mobail-padding);
  height: 668px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.header__inscription {
  padding-right: 15px;
  padding-top: 12px;
  position: absolute;
  color: var(--accent-color);
  top: 0;
  right: 0;
}

.header__inscription::after {
  content: "";
  background-image: url("../images/Ellipse.png");
  padding-right: 23px;
  background-size: 18px;
  background-position: center right;
  background-repeat: no-repeat;
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  align-self: flex-start;
  color: var(--accent-color);
  border-right: 1px solid;
  border-top: 1px solid;
  top: 0px;
  right: 0px;
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  align-self: flex-end;
  color: var(--accent-color);
  border-left: 1px solid;
  border-bottom: 1px solid;
  bottom: 10px;
  left: 10px;
}

.header__theme-menu {
  justify-self: end;
  padding-top: 23px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  color: var(--accent-color);
  color: var(--accent-color);
  background-color: transparent;
  background-repeat: no-repeat;
  text-transform: lowercase;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border);
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
  padding: 0px 13px;
}

.header__title {
  align-self: flex-start;
  padding-top: 16px;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background: var(--accent-color);
}

.header__text {
  align-self: flex-start;
  margin-top: 41px;
  font-size: 18px;
  font-weight: 700;
  overflow-wrap: break-word;
}

.section {
  padding: var(--mobail-padding);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  margin-bottom: 50px;
}

.section_why {
  margin-top: 40px;
}

.section_title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.section_list {
  display: grid;
  gap: 20px;
}

.section_list-item {
  display: grid;
  gap: 10px;
}

.section_list-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.section_list-text {
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.section_list-text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section_list-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section_list-text-link:focus-visible {
  outline: 1px solid;
  outline-offset: -1px;
}

.section_gallery {
  padding: var(--mobail-padding);
  display: grid;
  gap: 10px;
}

.section_gallery_title {
  color: var(--section-title);
}

.section_gallery_images {
  display: grid;
  gap: 10px;
}

.sunset-img {
  height: auto;
  width: 100%;
  max-width: 720px;
}

.ice-cream-img {
  height: auto;
  width: 100%;
  max-width: 720px;
}

.tape-img {
  height: auto;
  width: 100%;
  max-width: 720px;
}

.books-img {
  height: auto;
  width: 100%;
  max-width: 720px;
}

.street-img {
  height: auto;
  width: 100%;
  max-width: 720px;
}

.footer {
  padding: var(--mobail-padding);
  position: relative;
  margin-top: 40px;
  height: 668px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer_title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: var(--desktop-padding);
    height: 1024px;
    justify-content: normal;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__inscription {
    padding-right: 25px;
    padding-top: 20px;
  }

  .header__theme-menu {
    justify-self: end;
    padding-top: 19%;
  }

  .header__title {
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-bottom: 15px;
    position: relative;
    right: 20px;
  }

  .header__text {
    justify-self: end;
    width: 100%;
    max-width: 364px;
    margin-top: 42px;
  }

  .section {
    gap: 20px;
    margin-bottom: 60px;
    padding: var(--desktop-padding);
  }

  .section_title {
    max-width: 236px;
  }

  .section_why {
    grid-template-columns: 236px auto;
    margin-top: 60px;
  }

  .section_what {
    grid-template-rows: auto;
    margin-bottom: 80px;
  }

  .section_how {
    grid-template-columns: 236px auto;
  }

  .section_gallery {
    display: grid;
    padding: var(--desktop-padding);
    gap: 20px;
  }

  .section_gallery_title {
    max-width: 100vw;
  }

  .section_gallery_images {
    display: grid;
    grid-template-areas:
      "A A B"
      "C D B"
      "C E E";
    gap: 20px;
  }

  .sunset-img {
    grid-area: A;
    width: 100%;
    height: 100%;
    max-width: 720px;
    object-fit: cover;
  }

  .ice-cream-img {
    grid-area: B;
    width: 100%;
    height: 100%;
    max-width: 720px;
    object-fit: cover;
  }

  .tape-img {
    grid-area: C;
    width: 100%;
    height: 100%;
    max-width: 720px;
    object-fit: cover;
  }

  .books-img {
    grid-area: D;
    width: 100%;
    height: 100%;
    max-width: 720px;
    object-fit: cover;
  }

  .street-img {
    grid-area: E;
    width: 100%;
    height: 100%;
    max-width: 720px;
    object-fit: cover;
  }

  .footer {
    height: 1024px;
    margin-top: 60px;
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header {
    height: 768px;
    justify-content: normal;
    padding: var(--desktop-padding);
  }

  .header__inscription {
    padding-right: 25px;
    padding-top: 21px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    padding-top: 18px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    width: 100%;
    max-width: 491px;
    justify-self: end;
    width: 100%;
    margin-top: 51px;
  }

  .header__title {
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-bottom: 15px;
    position: relative;
    right: 20px;
  }

  .section {
    gap: 20px;
    margin-bottom: 60px;
    padding: var(--desktop-padding);
  }

  .section_title {
    max-width: 315px;
  }

  .section_why {
    grid-template-columns: 315px auto;
    margin-top: 60px;
  }

  .section_what {
    grid-template-rows: auto;
    margin-bottom: 80px;
  }

  .section_list-what {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section_list-what-item {
    grid-template-rows: auto 1fr;
  }

  .section_list-title {
    height: fit-content;
  }

  .section_how {
    grid-template-columns: 315px auto;
  }

  .section_gallery {
    display: grid;
    padding: var(--desktop-padding);
    gap: 20px;
  }

  .section_gallery_title {
    max-width: 100vw;
  }

  .section_gallery_images {
    display: grid;
    grid-template-areas:
      "A A B"
      "C D B"
      "C E E";
    gap: 20px;
  }

  .sunset-img {
    grid-area: A;
    width: 100%;
    height: 100%;
    max-width: 720px;
    object-fit: cover;
  }

  .ice-cream-img {
    grid-area: B;
    width: 100%;
    height: 100%;
    max-width: 720px;
    object-fit: cover;
  }

  .tape-img {
    grid-area: C;
    width: 100%;
    height: 100%;
    max-width: 720px;
    object-fit: cover;
  }

  .books-img {
    grid-area: D;
    width: 100%;
    height: 100%;
    max-width: 720px;
    object-fit: cover;
  }

  .street-img {
    grid-area: E;
    width: 100%;
    height: 100%;
    max-width: 720px;
    object-fit: cover;
  }

  .footer {
    height: 768px;
    margin-top: 60px;
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
