:root {
  --accent-color: #ff0070;
  --bg-color: #00183f;
  --main-text-color: #f1b2ce;
  --mobail-padding: 0 10px;
  --desktop-padding: 0 20px;
  --title-color: #db00ff;
  --hover-border: #ff007066;
  --additional-color: #000028;
  --main-gap: 20px;
  --additional-gap: 10px;
  --main-font-size: 18px;
  --main-font-weight: 700;
}
